
<section>

    <div class="line">
        <div clas="row">
                <div>
                    <google-chart  [data]="myChartXY" [type]="ChartType2"  [width]="myWidth1"   [height]="myHeight1" ></google-chart>
                </div>
                <div class="chart1">
                    <google-chart  [data]="myChartXY" [type]="ChartType"   [width]="myWidth1"   [height]="myHeight1"  ></google-chart>
                </div>
        </div>
        <div>
            <google-chart  [data]="myData" [type]="ChartType3"   [width]="myWidth2"   [height]="myHeight2" ></google-chart>
        </div>
    </div>
</section>

<!-- [width]="myWidth" -->
<!-- [height]="myHeight" -->